@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font: 14px 'Roboto', Helvetica, Arial, sans-serif;
	color: #e6e6e6;
}

li {
	padding: 2px;
}

a {
	color: #00B7FF;
}

.version-description {
	margin-bottom: 4em;
}

.version:before {
	content: 'Version '
}

.version {
	margin-bottom: 0;
}

body {
	display: block !important;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
	background: #ffffff20;
	border-radius: 20px;
}
