node_modules/
dist/
.idea/*
client/.idea/*
server/.idea/*
shared/.idea/*
asset-converter/.idea/*
server/client/
tsBuildInfo.json
client/src/*.js
client/src/*.js.map
server/src/*.js
server/src/*.js.map
shared/src/*.js
shared/src/*.js.map
asset-converter/input/*
server/src/game/rulesets/other/RulesetDev.ts
yarn-error.log

