node_modules/
dist/
.idea/*
client/.idea/*
client/dist/*
services/gaia/node_modules/*
services/gaia/.idea/*
services/gaia/dist/*
services/overmind/node_modules/*
services/overmind/.idea/*
services/overmind/dist/*
shared/.idea/*
asset-converter/.idea/*
services/gaia/coverage/
tsBuildInfo.json
client/src/*.js
client/src/*.js.map
services/gaia/src/*.js
services/gaia/src/*.js.map
services/overmind/src/*.js
services/overmind/src/*.js.map
shared/src/*.js
shared/src/*.js.map
asset-converter/input/*
services/gaia/src/game/rulesets/other/RulesetDev.ts
yarn-error.log

