.docker-version
**/node_modules/
**/dist/
**/.idea/
**/coverage/
tsBuildInfo.json
**/src/*.js
**/src/*.js.map
asset-converter/input/*
services/gaia/src/game/rulesets/other/RulesetDev.ts
yarn-error.log
**/secrets/
