@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font: 14px 'Roboto', Helvetica, Arial, sans-serif;
	color: #e6e6e6;
}

li {
	padding: 2px;
}

a {
	color: #00B7FF;
}

.version-description {
	margin-bottom: 4em;
}

.version:before {
	content: 'Version '
}

.version {
	margin-bottom: 0;
}

body {
	display: block !important;
}
