extends layout

block variables
	- const pageTitle = 'NotGwent Server status'

block content
	h1 Status page for NotGwent Server
	p Active games: #{activeGameCount}
	p Total players: #{activePlayerCount}
