
$COLOR-PRIMARY: #3e3456;
$COLOR-SECONDARY: #983e59;
$COLOR-BACKGROUND: white;
$COLOR-BACKGROUND-TRANSPARENT: rgba($COLOR-BACKGROUND, 0.1);

$COLOR-TEXT: darken(white, 10);

$NAVIGATION-BAR-HEIGHT: 48px;
