
$COLOR-PRIMARY: #3e3456;
$COLOR-SECONDARY: #983e59;
$COLOR-BACKGROUND: white;
$COLOR-BACKGROUND-TRANSPARENT: rgba($COLOR-BACKGROUND, 0.1);

$COLOR-TEXT: darken(white, 10);

$NAVIGATION-BAR-HEIGHT: 48px;

$INSPECTED-CARD-INFO-WINDOW-WIDTH: 848px;
$CARD_LIBRARY_NAVIGATION_BAR_HEIGHT: 54px;
$CARD_LIBRARY_NAVIGATION_BAR_MARGIN_BOTTOM: 8px;

$CARD_WIDTH: 408px;
$CARD-HEIGHT: 584px;
