extends layout

block content
	.version-description
		h1.version Version 1.1
		span.date 23.01.2020
		h2 Forest Scout
		ul
			li Attack range reduced from 3 to 2
			li Base damage reduced from 5 to 3
			li Bonus damage reduced from 7 to 5
		h2 Raven Messenger
		ul
			li Attack range reduced from 3 to 2
			li Power increased from 5 to 8
		h2 Spinning Barbarian
		ul
			li Damage increased from 2 to 4
			li Power reduced from 13 to 11
		h2 Twin Bow Archer
		ul
			li Attack range reduced from 3 to 2
			li Damage increased from 6 to 7
		h2 Possessed Vulture
		ul
			li Attack range reduced from 3 to 2
		h2 Unfeeling Warrior
		ul
			li Health restoration per attack survived reduced from 3 to 2
		h2 Rain of Fire
		ul
			li Damage increased from 5 to 8

	.version-description
		h1.version Version 1.0
		span.date 22.01.2020
		ul
			li Initial release
