extends layout

block content
	.version-description
		h1.version 1.2 - Clarity Update
		span.date 29.01.2020
		h2 Ruleset changes
		ul
			li
		h2 Feature updates
		ul
			li Implemented animation system
			li Implemented simple AI
			li Opponents card is now announced before being played
			li Unit attacks are now spread out over time
			li Client will now automatically join created game
			li HTTPS is now forced on the server

	.version-description
		h1.version 1.1 - Usability Update
		span.date 25.01.2020
		h2 Ruleset changes
		ul
			li If any player loses their last controlled row, the day now ends immediately
			li During end of the day, morale damage dealt is now determined by owned board rows (5 damage per controlled row)
			li Player morale pool reduced from 100 to 50
			li Drawn cards on day start reduced from 10 to 7
		h2 Feature updates
		ul
			li Added out-of-game UI
			li Cards in players' hands are now sorted (Units come before spells; heroes come before pawns; higher power cards come before lower power cards)
			li Added in-game escape menu
			li Game window will now resize properly
			li Game textures are now fetched in the background before joining the game
			li Improved game board layout
			li Improved visuals for turn end button
			li Removed unnecessary design elements from spell cards
			li Game loading is now hidden for nicer looks

	.version-description
		h1.version 1.0.1 - Balance Patch
		span.date 23.01.2020
		h2 Balance updates
		h3 Forest Scout
		ul
			li Attack range reduced from 3 to 2
			li Base damage reduced from 5 to 3
			li Bonus damage reduced from 7 to 5
		h3 Raven Messenger
		ul
			li Attack range reduced from 3 to 2
			li Power increased from 5 to 8
		h3 Spinning Barbarian
		ul
			li Damage increased from 2 to 4
			li Power reduced from 13 to 11
		h3 Twin Bow Archer
		ul
			li Attack range reduced from 3 to 2
			li Damage increased from 6 to 7
		h3 Possessed Vulture
		ul
			li Attack range reduced from 3 to 2
		h3 Unfeeling Warrior
		ul
			li Health restoration per survived attack reduced from 3 to 2
		h3 Rain of Fire
		ul
			li Damage increased from 5 to 8

	.version-description
		h1.version 1.0
		span.date 22.01.2020
		ul
			li Initial release
