doctype html
block variables

html
	head
		title=pageTitle
		if (stylesheet)
			link(rel='stylesheet', href=`/stylesheets/${stylesheet}`)
	body(style=`${hideBody ? 'display: none' : ''}`)
		block content
